* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1 0 auto;
}
html, body {
    width: 100%;
    margin: 0;
  }

#root{
    display: contents;
}