.banner {
    position: relative;

    .text-banner {
        display: flex;
        position: absolute;
        width: 90%;
        height: 233px;
        justify-content: center;
        align-items: center;
        z-index: 3;
        font-size: 48px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 25px;
        font-family: Montserrat;
    }

    img {
        position: relative ;
        width: 90%;
        height: 233px;
        margin-left: 5%;
        object-fit: cover;
        border-radius: 25px;
        z-index: 1;
        display: block;
        margin-bottom: 10px;
    }    
}
@media screen and (max-width: 500px) {
    .banner{
        height: 50%;
        .text-banner{
            font-size: 24px;
            max-height: 150px;
            border-radius: 10px;
        }
        img{
            max-height: 150px;
            border-radius: 10px;
        }
    }
}
