@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    size: 24px;
    font-weight: 500;
    font-family: Montserrat;
        &.active {
            text-decoration: underline;
        }
}
